
.pageBase {
    position: relative;
    /* max-width: 480px; */
    margin: 0 auto;
    min-height: 100vh;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue',
      Arial, 'Microsoft YaHei', sans-serif;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .pageBase2 {
    position: relative;
    /* max-width: 480px; */
    margin: 0 auto;
    min-height: 100vh;
    background: #E9E3CC;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue',
      Arial, 'Microsoft YaHei', sans-serif;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .bannerBgBase {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 152px;
    background: #FFF4F1;
    filter: blur(50px);
    z-index: 0;
    pointer-events: none;
  }
  
  .bannerBlurBase {
    position: fixed;
    right: 0;
    top: 0;
    width: 121px;
    height: 98px;
    background: #FFCEBE;
    filter: blur(50px);
    z-index: 0;
    pointer-events: none;
  }
  
  .bannerBlur2Base {
    position: fixed;
    top: 0;
    left: 0;
    width: 177px;
    height: 152px;
    background: #FFF5E3;
    filter: blur(50px);
    z-index: 0;
    pointer-events: none;
  }
  
  .headerBase {
    display: flex;
    align-items: center;
    padding: 16px 16px 16px 0px;
    position: relative;
    z-index: 1;
  }
  
  .backButtonBase {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
  }
  
  .backIconBase {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }

  .headerWithBackBase {
    display: flex;
    align-items: center;
    padding: 16px 16px 16px 0;
    position: relative;
    z-index: 1;
  }